<div class="container">
    <div class="row" style="margin-top:1%;">
        <dir class="col-sm-3" style="border-right : 1px double gray">
            <ul class="list-group">
                <li class="list-group">
                    <span> <a href="/profile"> <img src="{{imagePath}}" alt="..." class="rounded-circle" height="50px" width="50px"></a>
                    <a href="/editImage" class="glyphicon glyphicon-pencil"></a></span>
                    {{name}}
                </li>
                <li class="list-group">
                    <a href="/editfanprofile"><i class="fas fa-edit"></i>Edit Profile</a>
                </li>
                <li class="list-group">
                    <a href="/notifications"><i class="fas fa-envelope"></i>Notifications</a>
                </li>
                <li class="list-group">
                    <a href=""><i class="fas fa-certificate"></i>Offers</a>
                </li>
                <li class="list-group">
                    <a href="/messages"><i class="fas fa-comments"></i>Messages</a>
                </li>
                <li class="list-group">
                    <a href="/fantiphistory" id="tiphistory"><i class="fas fa-book"></i>Tip History</a>
                </li>
                <li class="list-group">
                    <a href=""><i class="fas fa-money-check-alt"></i>Account Balance</a>
                </li>
                <li class="list-group">
                    <a href=""><i class="fas fa-users"></i>Groups</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="list-group">
                    {{#if isCreator}}
                        <a href="/creatorprofile">Go to Creator Profile</a>
                        {{else}}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCreatorProfile" >Add Creators Profile</button>
                    {{/if}}
                </li>
            </ul>
        </dir>
        <div class="col-sm-9 ">
            <h3>Tippees</h3>
            <div ng-init = "tippees = {{tippeedata}}">
                <table class="table" id="tippeeTable">
                    <thead>
                        <tr>
                            <th scope="col">Tip date</th>
                            <th scope="col">Tippee ID</th>
                            <th scope="col">Tip Amount</th>
                            <th scope="col">Tip From</th>
                            <th scope="col">Tip Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="singleTippee in tippees ">
                            <td>{[{singleTippee.tipDate}]}</td>
                            <td>{[{singleTippee.tipeeID.email}]}</td>
                            <td>&#36;{[{singleTippee.tipAmount}]}</td>
                            <td>{[{singleTippee.tipFrom}]}</td>
                            <td>{[{singleTippee.tipMessage}]}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

            <h3>Tippers</h3>
            <div ng-init = "tippers = {{tipperdata}}">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tip date</th>
                            <th scope="col">Tipper ID</th>
                            <th scope="col">Tip Amount</th>
                            <th scope="col">Tip To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "singleTipper in tippers">
                            <td>{[{singleTipper.tipDate}]}</td>
                            <td>{[{singleTipper.tipperID.email}]}</td>
                            <td>&#36;{[{singleTipper.tipAmount}]}</td>
                            <td>{[{singleTipper.tipTo}]}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            {{!-- {{#each tippeedata}}
            <h2>Tippee Data</h2>
            <p>{{this}}</p>
            {{/each}}

            {{#each tipperdata}}
            <h2>Tipper Data</h2>
            <p>{{this}}</p>
            {{/each}} --}}
        </div>
    </div>
</div>
